@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FEFAD4;
    --secondary-color: #FCD0BA;
    --terciary-color:  #e25462;
    --background-color: #765D69;
}